<header class="navbar">
    <div class="logo">
        <img src="logo.svg" alt="Tharavadu Logo" class="logo-img">
        <h1 data-i18n="title">Tharavadu</h1>
    </div>
    <nav>
        <ul>
            <li><a href="index.html#home" data-i18n="nav_home">Poomukham</a></li>
            <li><a href="index.html#menu" data-i18n="nav_menu">Oottupura</a></li>
            <li><a href="index.html#about" data-i18n="nav_about">Heritage</a></li>
            <li><a href="contact.html" data-i18n="nav_contact">Contact</a></li>
            <li class="lang-switch">
                <button id="lang-toggle" onclick="toggleLanguage()">മലയാളം</button>
            </li>
            <li class="cart-icon" onclick="toggleCart()" title="View Cart">
                <i class="fas fa-shopping-basket"></i>
                <span id="cart-count">0</span>
            </li>
        </ul>
    </nav>
</header>